* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0a3139; 
  --secondary-color: #1b749c; 
  --accent-color: #c9c9c9; 
  --white: #f8f9fa;
  --black: #121212;

  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white);
  color: var(--black);
}
body > *:not(header, footer) {
  animation: fade 0.8s ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  60% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
