main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 0 20px;
  gap: 20px;
  border-radius: 50px;
  background-image: url(/assets/background/background_index.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.main_title {
  font-size: 5rem;
  color: var(--primary-color);
  font-weight: 800;
}

.main_blit {
  font-size: 6rem;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  letter-spacing: 2px;
}

.main_subtitle {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 10px;
  font-weight: 600;
}

.main_description {
  font-size: 1.5rem;
  color: var(--black);
}
.main_cta {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.cta_services,
.cta_request {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.cta_services {
  background-color: var(--secondary-color);
  color: var(--white);
}
.cta_services:hover {
  background-color: var(--primary-color);
}
.cta_request {
  background-color: var(--black);
  color: var(--white);
}
.cta_request:hover {
  background-color: var(--secondary-color);
}
/* .network_main {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .network_main img {
  height: auto;
  opacity: 1;
}

.network {
  filter: blur(1.5px);
  opacity: 0.8;
} */
.about {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 50px 50px;
  align-items: stretch;
}
.about_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about_text h2 {
  font-size: 2.75rem;
  color: var(--primary-color);
  font-weight: 800;
}
.about_text p {
  font-size: 1.25rem;
  color: var(--black);
  line-height: 1.6;
}
.about_image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_image img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.to_bold {
  font-weight: 700;
}
.about_cta {
  margin-top: 20px;
  width: fit-content;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--white);
  transition: background-color 0.3s ease;
}
.about_cta:hover {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}
.why_trust {
  background-color: var(--accent-color);
  padding: 50px 50px;
  text-align: center;
  border-radius: 40px;
  margin-inline: 30px;
  margin-block: 50px;
}
.why_trust h2 {
  font-size: 2.75rem;
  color: var(--primary-color);
  margin-bottom: 30px;
  font-weight: 800;
}
.why_trust p {
  font-size: 1.2rem;
  color: var(--black);
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}
.why_trust ul {
  list-style: none;
  margin: 30px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.why_trust ul li {
  background-color: var(--white);
  padding: 20px 25px;
  border-radius: 20px;
  font-weight: 600;
  color: var(--black);
}
.why_trust i {
  font-size: 1.5rem;
  display: inline;
  background-color: var(--secondary-color);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services {
  padding: 50px 50px;
  text-align: center;
  margin-block: 50px;
}
.services h2 {
  font-size: 2.75rem;
  color: var(--primary-color);
  margin-bottom: 30px;
  font-weight: 800;
}
.services_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 30px;
}
.services_card {
  background-color: var(--accent-color);
  padding: 30px 20px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.services_card:hover {
  transform: translateY(-10px);
  box-shadow: 0 1px 20px var(--secondary-color);
}
.services_card h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 15px;
}
.services_card p {
  font-size: 1rem;
  color: var(--black);
  line-height: 1.5;
}
.services_card i {
  font-size: 3rem;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 20px;
  display: inline-block;
}
.cta_more_services {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-color);
  color: var(--white);
  position: relative;
  top: 50px;
}
.cta_more_services:hover {
  background-color: var(--primary-color);
}
.satisfied_partners {
  background-color: var(--accent-color);
  padding: 50px 50px;
  text-align: center;
  margin-inline: 30px;
  border-radius: 40px;
  margin-bottom: 50px;
}
.satisfied_partners h2 {
  font-size: 2.75rem;
  color: var(--primary-color);
  margin-bottom: 30px;
  font-weight: 800;
}
.partners_logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}
.partners_logos .logo {
  flex: 0 1 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners_logos .logo img {
  max-width: 150px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  border-radius: 10px;
}

/* @media (max-width: 768px) {
  .main_title {
    font-size: 2.5rem;
  }
  .main_blit {
    font-size: 4rem;
  }
  .main_subtitle {
    font-size: 1.5rem;
  }
  .main_description {
    font-size: 1rem;
  }
  .navbar {
    gap: 2ch;
    padding: 10px 20px;
  }
  .log_n_sign {
    gap: 1.5ch;
  }
}
@media (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
  nav {
    justify-content: center;
  }
  .main_title {
    font-size: 2rem;
  }
  .main_blit {
    font-size: 3rem;
  }    */
