* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0a3139; /* Bleu très foncé du logo */
  --secondary-color: #1b749c; /* Bleu intermédiaire */
  --accent-color: #c9c9c9; /* Gris clair */
  --white: #f8f9fa;
  --black: #121212;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white);
  color: var(--black);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: var(--white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.blit_logo img {
  height: 70px;
  width: auto;
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 4ch;
  padding: 12px 30px;
  border-radius: 50px;
}

.navbar a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  transition: color 0.3s;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar .active {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 12px 25px;
  border-radius: 40px;
  font-weight: 700;
}
.navbar .active:hover {
  color: var(--white);
}