* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0a3139; /* Bleu très foncé du logo */
  --secondary-color: #1b749c; /* Bleu intermédiaire */
  --accent-color: #c9c9c9; /* Gris clair */
  --white: #f8f9fa;
  --black: #121212;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--white);
  color: var(--black);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: var(--white);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.blit_logo img {
  height: 70px;
  width: auto;
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 4ch;
  padding: 12px 30px;
  border-radius: 50px;
}

.navbar a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  transition: color 0.3s;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar .active {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 12px 25px;
  border-radius: 40px;
  font-weight: 700;
}
.navbar .active:hover {
  color: var(--white);
}

.log_n_sign {
  display: flex;
  gap: 3ch;
  align-items: center;
}

.log_n_sign a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
}

.log_n_sign .signup_btn {
  background-color: var(--black);
  color: var(--white);
  padding: 12px 25px;
  border-radius: 40px;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.signup_btn:hover {
  background-color: var(--secondary-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 0 20px;
  gap: 20px;
  border-radius: 50px;
}

.main_title {
  font-size: 3.5rem;
  color: var(--primary-color);
  font-weight: 800;
}

.main_blit {
  font-size: 6rem;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  letter-spacing: 2px;
}

.main_subtitle {
  font-size: 1.8rem;
  color: var(--black);
  margin-bottom: 10px;
}

.main_description {
  font-size: 1.3rem;
  color: var(--black);
}
.main_cta {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.cta_services,
.cta_request {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 40px;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.cta_services {
  background-color: var(--secondary-color);
  color: var(--white);
}
.cta_services:hover {
  background-color: var(--primary-color);
}
.cta_request {
  background-color: var(--black);
  color: var(--white);
}
.cta_request:hover {
  background-color: var(--secondary-color);
}
.network_main{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.network_main img{
  height: auto;
  opacity: 0.5;
}

.network{
  
  filter: blur(1.5px);
  opacity: 0.8;

}
/* @media (max-width: 768px) {
  .main_title {
    font-size: 2.5rem;
  }
  .main_blit {
    font-size: 4rem;
  }
  .main_subtitle {
    font-size: 1.5rem;
  }
  .main_description {
    font-size: 1rem;
  }
  .navbar {
    gap: 2ch;
    padding: 10px 20px;
  }
  .log_n_sign {
    gap: 1.5ch;
  }
}
@media (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 10px;
  }
  nav {
    justify-content: center;
  }
  .main_title {
    font-size: 2rem;
  }
  .main_blit {
    font-size: 3rem;
  }    */